.game-row {
    clear: both;
    margin: 50px 0 0 50px;
}

#game button {
    height: 50px;
    width: 50px;
    padding: 0;
    border: 1px solid #eee;
    background: none;
    margin: -1px 0 0 -1px;
    display: block;
    float: left;
}

.modal-footer > a {
    float: left;
}

form.replay {
    display: inline;
}

.row {
    display: none;
    margin: 0 5px;
}

.history-game {
    margin: 50px;
}

.history-row {
    overflow: hidden;
    margin-bottom: 10px;
}

.field {
    float: left;
    width: 30px;
    height: 30px;
    display: block;
}

form.user_choice {
    width: 800px;
    margin: 200px auto 0;
}

form.user_choice > a {
    margin-right: 50px;
}

div > h2 {
    margin-left: 30px;
}