<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    {% load poll_extras %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .game-row {
            clear: both;
        }

        #game button {
           height: 50px;
            width: 50px;
            padding: 0;
            border: 1px solid #eee;
            background: none;
            margin: -1px 0 0 -1px;
            display: block;
            float: left;
        }

        .modal-footer > a {
            float: left;
        }

        form.replay {
            display: inline;
        }
    </style>
</head>
<body>
<div>
    {% if icon == 'X' %}Cross{% else %}Zero{% endif %} stroke!
</div>
<form id="game" method="get">
    <div>
        {% for i in range %}
            <div class="game-row">
                {% for j in range %}
                    <button {% if matrix|index:forloop.parentloop.counter0|index:forloop.counter0 > 0 %}
                        disabled {% endif %}>
                        {% if matrix|index:forloop.parentloop.counter0|index:forloop.counter0 == 0 %}
                        {% elif matrix|index:forloop.parentloop.counter0|index:forloop.counter0 == 1 %}X
                        {% else %}O{% endif %}
                    </button>
                    <input type="hidden"
                           name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"
                           value="{{ matrix|index:forloop.parentloop.counter0|index:forloop.counter0 }}">
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <input type="hidden" name="started" value="1">
    <input type="hidden" name="size" value="{{ size }}">
    <input type="hidden" name="diagonal" value="{{ diagonal }}">
    <input type="hidden" name="row" value="{{ row }}">
    <input id="icon" type="hidden" name="stroke" value="{{ icon }}">
</form>

{% if winner == 1 or winner == 2 %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% if winner == 1 %}Cross{% else %}Zero{% endif %} won the game!</h4></div>
                <div class="modal-footer">
                    <a href="/" class="btn btn-default">Home</a>
                    <a href="/history" class="btn btn-default">History</a>
                    <form class="replay">
                        <button class="btn btn-primary">Replay</button>
                        <input type="hidden" name="size" value="{{ size }}">
                        <input type="hidden" name="row" value="{{ row }}">
                        <input type="hidden" name="diagonal" value="{{ diagonal }}">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

</body>
</html>