<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>game</title>
        {% load poll_extras %}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            {% if icon == 'X' %}Cross{% else %}Zero{% endif %} stroke!
        </div>
        <form method="get">
            <table>
                {% for i in range %}
                    <tr>
                        {% for j in range %}
                            <td>
                                <button>
                                    {% if matrix|index:forloop.parentloop.counter0|index:forloop.counter0 == 0 %}
                                    {% elif matrix|index:forloop.parentloop.counter0|index:forloop.counter0 == 1%}X
                                    {% else %}O{% endif %}
                                </button>
                                <input type="hidden"
                                       name="{{ forloop.parentloop.counter0}}{{ forloop.counter0 }}"
                                       value="{{ matrix|index:forloop.parentloop.counter0|index:forloop.counter0 }}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input type="hidden" name="started" value="1" >
            <input type="hidden" name="size" value="{{ size }}">
            <input type="hidden" name="diagonal" value="{{ diagonal }}">
            <input type="hidden" name="row" value="{{ row }}">
            <input id="icon" type="hidden" name="stroke" value="{{ icon }}">
            {% if winner == 1 or winner == 2 %}
                <div class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <p>One fine body&hellip;</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            {% endif %}
        </form>
    </body>
</html>